@import "imports/_general.scss";

// .navbar {
//     box-shadow: 0 20px 20px #524a4a54;
// }

.contact-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    // background: $main_color;
    top: 0;
    display: flex;
    align-items: flex-start;
    justify-content: end;
    z-index: -1;
    .map {
        width: 100%;
        height: 100%;
        background-image: url("../images/map.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.3;
    }
}

.contact-clipart {
    width: 80%;
}

.contact__card {
    margin-top: 107.55px;
    width: 100%;
    height: auto;
    min-height: 500px;
    padding: 5% 1% 5% 1%;
    background: linear-gradient(135deg, #e4f8ff, #a8cacb);
    box-shadow: 8px 8px 20px rgb(40 110 112 / 38%);
    border-left: 1px solid #e7e7e7;
    border-radius: 10px;
    .contact-information {
        display: flex;
        flex-direction: column;
        a {
            color: $main_text;
        }
    }
    .contact_img {
        width: 100%;
    }
}

.contact-icon {
    width: 80px;
    height: 80px;
    background: $main_color;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
}

@include sm {
    .contact__card {
        width: 100%;
    }

    .contact-clipart {
        width: 70%;
    }
}
@include md {
    .contact__card {
        padding: 5%;
        width: 80%;
    }

    .contact-icon {
        width: 90px;
        height: 90px;
        font-size: 37px;
    }
    
    .contact-clipart {
        width: 50%;
    }
}
@include lg {
    .contact__card {
        width: 60%;
        padding: 5%;
    }

    .contact-icon {
        width: 100px;
        height: 100px;
        font-size: 40px;
    }

    .contact-clipart {
        width: 50%;
    }
}
@include xl {
    .contact__card {
        // margin-top: 150px;
        width: 50%;
        padding: 5%;
    }

    .contact-icon {
        width: 100px;
        height: 100px;
        font-size: 40px;
    }

    .contact-clipart {
        width: 50%;
    }
}
