@import "imports/_general.scss";

body {
    background: linear-gradient(149deg, #cfeaf3, #96d5d7);
    position: relative;
}

// .popup_nav {
//     ul {
//         top: 0 !important;

//         right: 0 !important;

//         transform: none!important;
//     }
// }

.geo {
    background: url("../images/geo.png");
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.dot {
    background: url("../images/dot.svg");
    opacity: 0.1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.noise {
    background: url("../images/noise.png");
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

footer {
    z-index: 999;
    position: relative;
}

.navbar {
    background: transparent !important;
    box-shadow: none !important;
    position: relative !important;
}

.pricing-banner {
    width: 100%;
    height: 500px;
    z-index: 20;
}

.pricing_card_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    z-index: 20;
}

%pricing_card::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #1691ba, #158385);
    filter: blur(25px);
    transform: translateY(30px) translateX(20px) scale(0.9);
}

%pricing_card {
    position: relative;
    width: 90%;
    background: linear-gradient(135deg, #1691ba, #158385);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 10%;
    transform-style: preserve-3d;
}

.pricing_card_content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    height: auto;
    align-items: center;
    flex-direction: column;
    padding: 10% 0 10% 0;
    transform: translateZ(20px);
    .pricing-label {
        font-size: 1.2em;
        font-weight: bold;
    }

    .pricing-price {
        font-size: 2.5em;
        font-weight: bold;
    }

    .pricing-per {
        line-height: 0;
        font-size: 0.8em;
    }

    .pricing-perks {
        font-size: 13px;
    }
}

.pricing_card--basic {
    @extend %pricing_card;
}

.pricing_card--standard {
    @extend %pricing_card;
}

.pricing_card--premium {
    @extend %pricing_card;
}

.review_content {
    position: relative;
    z-index: 20;
}

.heading-color {
    color: #0f7074;
}

.review_card {
    width: 90%;
    height: auto;
    background: red;
    border-radius: 8px;
    position: relative;
    z-index: 20;
    background: linear-gradient(135deg, #fcfeff, #f3fbff);
    box-shadow: 6px 6px 20px #0000005c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px 20px 50px;
}

.review_detail {
    font-size: 12px;
    font-style: italic;
    color: #898989;
    padding: 5%;
    text-align: center;
}

.reviewer {
    font-style: italic;
    margin-top: 10px;
}

@include sm {
    %pricing_card {
        width: 350px;
    }

    .pricing_card_content {
        padding: 8% 0 8% 0;
        .pricing-label {
            font-size: 1.4em;
        }

        .pricing-price {
            font-size: 3em;
        }

        .pricing-per {
            font-size: 1em;
        }

        .pricing-perks {
            font-size: 14px;
        }
    }

    .review_detail {
        font-size: 13px;
        padding: 5%;
    }
}

@include md {
    .pricing_card_container {
        flex-direction: row;
    }

    .pricing-banner {
        height: 400px;
    }

    %pricing_card {
        width: 200px;
    }

    .pricing_card_content {
        padding: 10% 0 10% 0;
        .pricing-label {
            font-size: 0.9em;
        }

        .pricing-price {
            font-size: 2.2em;
        }

        .pricing-per {
            font-size: 0.7em;
        }

        .pricing-perks {
            font-size: 12px;
        }
    }

    .review_detail {
        font-size: 14px;
        padding: 5%;
    }
}

@include lg {
    .pricing_card_container {
        flex-direction: row;
    }

    .pricing-banner {
        height: 400px;
    }

    %pricing_card {
        width: 250px;
        margin-bottom: 5%;
    }

    .pricing_card_content {
        padding: 10% 5% 10% 5%;
        .pricing-label {
            font-size: 1em;
        }

        .pricing-price {
            font-size: 2em;
        }

        .pricing-per {
            font-size: 0.7em;
        }

        .pricing-perks {
            font-size: 13px;
        }
    }

    .review_card {
        width: 70%;
    }

    .review_detail {
        font-size: 14px;
        padding: 5%;
    }
}

@include xl {
    .pricing-banner {
        height: 400px;
    }

    .pricing_card_container {
        flex-direction: row;
        margin: 0 0 100px 0;
    }

    %pricing_card {
        width: 350px;
        margin-bottom: 0;
    }

    .pricing_card_content {
        padding: 10%;
        .pricing-label {
            font-size: 1.2em;
            font-weight: bold;
        }

        .pricing-price {
            font-size: 3em;
            font-weight: bold;
        }

        .pricing-perks {
            font-size: 16px;
        }
    }

    .review_card {
        width: 60%;
    }

    .review_detail {
        font-size: 15px;
        padding: 5%;
    }
}
