@import "imports/_general.scss";

.navbar {
    background: #caecf5 !important;
    box-shadow: none !important;
    position: relative !important;
}

.relative {
    position: relative;
}

.section__a {
    background: linear-gradient(180deg, #caecf5, #79b3c7);
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service_heading {
    h1 {
        text-align: center;
        color: #2f7783;
        font-size: 27px;
    }

    p {
        text-align: center;
        color: $black;
        font-size: 15px;
    }
}

.screen_image {
    height: 200px;
    background-image: url("../svgs/screen.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.works_card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    label {
        font-weight: 600;
        text-align: center;
        font-size: 20px;
        margin-bottom: 5px;
    }

    p {
        text-align: center;
        font-size: 14px;
    }
}

.work-clipart {
    width: 200px;
    height: 200px;
}

.section__b {
    background-image: url("../images/banner_a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
    position: relative;

    &__banner {
        font-size: 20px;
        font-weight: bold;
    }

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgb(98 112 114 / 75%);
    }
}

.section__contact {
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, #dfeeeb, #dfeeeb);
    position: relative;
    height: 400px;
    h1 {
        font-size: 21px;
        font-weight: 600;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url("../images/geo.png");
        background-size: cover;
        opacity: 0.5;
    }

    &__btn {
        background: $main_color;
        border: 0;
        color: white;
        padding: 5px 0 5px 0;
        font-size: 19px;
        box-shadow: 5px 5px 15px #524e4e7d;
        width: 150px;
        text-decoration: none;
        cursor: pointer;
        transition: 0.5s;
    }

    &__btn:hover {
        background: #3b6b70;
        color: white;
    }
}

@include sm {
    .work-clipart {
        width: 220px;
        height: 220px;
    }

    .section__b {
        &__banner {
            font-size: 21px;
        }
    }
}

@include md {
    .section__a {
        height: 400px;
    }

    .service_heading {
        h1 {
            font-size: 30px;
            text-align: left;
        }

        p {
            font-size: 16px;
            text-align: left;
        }
    }

    .works_card {
        label {
            font-size: 18px;
        }

        p {
            font-size: 13px;
        }
    }

    .work-clipart {
        width: 200px;
        height: 200px;
    }

    .section__b {
        height: 210px;
        &__banner {
            font-size: 23px;
        }
    }

    .section__contact {
        &__btn {
            padding: 8px 0 8px 0;
        }

        h1 {
            font-size: 23px;
        }
    }
}

@include lg {
    .section__a {
        height: 500px;
    }

    .service_heading {
        h1 {
            font-size: 35px;
            text-align: left;
        }

        p {
            font-size: 16px;
            text-align: left;
        }
    }

    .screen_image {
        height: 250px;
        background-position: right;
    }

    .works_card {
        label {
            font-size: 19px;
        }

        p {
            font-size: 14px;
        }
    }

    .section__b {
        height: 250px;
        &__banner {
            font-size: 29px;
        }
    }

    .section__contact {
        &__btn {
            padding: 12px 0 12px 0;
            width:180px;
        }

        h1 {
            font-size: 26px;
        }
    }
}

@include xl {
    .section__a {
        height: 600px;
    }

    .service_heading {
        h1 {
            font-size: 45px;
            text-align: left;
        }

        p {
            font-size: 16px;
            text-align: left;
        }
    }

    .screen_image {
        height: 300px;
        background-position: right;
    }

    .works_card {
        label {
            font-size: 20px;
        }

        p {
            font-size: 16px;
        }
    }

    .section__b {
        height: 300px;
        &__banner {
            font-size: 35px;
        }
    }

    .section__contact {
        &__btn {
            padding: 12px 0 12px 0;
            width:180px;
        }

        h1 {
            font-size: 26px;
        }
    }
}
