/* Custom Colors */
@import "colors.scss";
/* Mediascreens */
@import "mediascreens.scss";
/* Main font family */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    height: auto;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.z-3 {
    z-index: 3;
}

.z-4 {
    z-index: 4;
}

.z-5 {
    z-index: 5;
}

.website__logo {
    width: 250px;
    height: auto;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar {
    // background: transparent!important;
    box-shadow: 0 6px 20px #dddddd;
}
