/* Custom Colors */
@import "colors.scss";
/* Mediascreens */
@import "mediascreens.scss";
/* Main font family */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    height: auto;
    color: $main_text;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.z-3 {
    z-index: 3;
}

.z-4 {
    z-index: 4;
}

.z-5 {
    z-index: 5;
}

.website__logo {
    width: 250px;
    height: auto;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar {
    // background: transparent!important;
    box-shadow: 0 10px 20px 10px #5a616230;
    transition: .5s;
}

footer {
    width: 100vw;
    height: auto;
    background: #e5e7e8;

    .footer_bk_logo {
        width: 60%;
    }

    .links_container {
        color: $main_text;

        .section {
            text-align: left;

            a {
                text-decoration: none;
                color: $main_text;
                font-weight: 600;
                display: block;
            }

            .light_link {
                font-weight: 400;
                display: block;
            }
        }
    }

    .sub_footer {
        width: 100%;
        height: auto;
        .footer_logo {
            width: 300px;
            height: 85px;
            background-image: url("../images/footer_logo.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            margin-bottom: 10px;
        }

        .remarks {
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            background-color: $black;
            color: white;
            text-align: center;
            font-weight: bold;

            span {
                margin: 0 20px 0 20px;
                padding: 10px 0 10px 0;
            }
        }
    }
}

@include xl {
    footer {
        .footer_bk_logo {
            width: 100%;
        }
    }
}

@include lg {
    footer {
        .footer_bk_logo {
            width: 100%;
        }
    }
}

@include md {
    footer {
        .footer_bk_logo {
            width: 100%;
        }
    }
}

@include sm {
    footer .sub_footer .remarks {
        font-size: 10px;
    }
}

@include xs {
    footer .sub_footer {
        .footer_logo {
            width: 250px;
            height: 70px;
        }

        .remarks {
            font-size: 9px;

            span {
                margin: 0 5px 0 5px;
            }
        }
    }
}
